<ion-content>
    <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="110" [pullMax]="150" (ionRefresh)="getAllPosts($event)">
        <ion-refresher-content pullingIcon="chevron-down" pullingText="Tirer pour recharger"
            refreshingSpinner="circles" refreshingText="Chargement...">
        </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="feedIsLoaded" class="feed-container fit-container vertical-container g16">
        <div class="top-container">
            <div class="fit-container center-container g8">
                <div>
                    <img class="brand" src="./../../../assets/icon/athlead.svg" alt=".">
                </div>
                <div class="fit-container center-container g4">
                    <span>Pour vous</span>
                    <i class="fa-solid fa-chevron-down" style="font-size: 12px;"></i>
                </div>
            </div>
            <div class="right-content">
                <i class="fa-solid fa-plus"></i>
            </div>
        </div>
        <!-- <app-post-advice></app-post-advice> -->
        <div *ngFor="let advice of advices">
            <app-advice-post [rowid]="advice.rowid" [identifiant]="advice.identifiant" [username]="advice.username"
                [contentAdvice]="advice.advice" [likes]="advice.like_count" [liked]="advice.user_liked"
                [datetime]="advice.datetime"></app-advice-post>
        </div>
    </div>
    <div *ngIf="!feedIsLoaded" class="main-container center-container">
        <i class="fa-solid fa-circle-notch fa-spin main-spinner"></i>
    </div>
</ion-content>