.router-container {
    max-height: calc(100% - 42px);
    min-height: 70%;
}

.home-image {
    position: absolute;
    z-index: -1;
    top: 48px;
    left: 0;
    width: 100vw;
}

.main-title {
    text-transform: uppercase;
    font-size: 41px;
    font-weight: 700;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
}

.brand-name {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    color: #000;
}